@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

@import "tailwindcss"; 

@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "light";
  default: true;

  --color-primary: #ffe733;
  --color-secondary: #ffffff;
  --color-accent: #efefef;
}

*{
  font-family: "Poppins", sans-serif;
}
html {
  scroll-behavior: smooth;
}

body h1, h2, h3, h4, h5, h6{
  font-family: "Mulish", sans-serif;
  font-style: italic;
} 

.slick-slide {
    padding:10px;
}
body button{
  cursor: pointer;
}
.slick-slide p,
.slick-slide h1,
.slick-slide h2,
.slick-slide h3,
.slick-slide span {
  user-select: text !important;
}

.slick-slide img {
  pointer-events: none; /* image drag disable রাখবে */
}

/* .slider-container{} */